.slate-cms.header .small-logo {
  background: none;
  line-height: 40px;
  font-size: 1.3rem;
  width: 200px;
}

.header .wrapper, .slate-cms.wrapper{
  width: 99%;
  max-width: 99%;
  min-width: 99%;
}

.front-wrapper {
  @marginValue: 1rem;

  position: relative;
  margin: @marginValue auto;
  width: 82%;
  padding-left: 17%;

  .front-left {
    position: absolute;
    width: 15%;
    left: 0;
    top: 0;
  }
}