<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <title></title>
    <% for (var i = 0;i < global.slateUI.length; i++){ %>
    <link type="text/css" rel="stylesheet" href="<%= global.staticDomain %> <%= global.slateUI[i] %>">
    <% } %>
</head>
<body>
<% include header.ejs %>
<div class="slate-cms wrapper">

    <% include submenu.ejs %>

    <div class="list-box">
        <div class="list-left">
            <div class="ui blue vertical menu loading" ms-class="loading:loading" ms-controller="appList">
                <div class="header item">
                    <i class="user icon"></i>
                    我的杂志列表
                </div>
                <div class="item" ms-repeat="apps">
                    <a href="javascript:;" class="app-name" ms-data-id="el.appId"
                       ms-click="clickAppName">{{el.appName}}</a>

                    <div class="menu">
                        <a class="active item">全部文章列表</a>
                        <a class="item" ms-repeat="el.columns" ms-data-id="el.columnId">{{el.columnName}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-right">
            <div class="add-btns-box">
                <div class="ui tiny blue buttons">
                    <a href="/article/add" class="ui down button">
                        <i class="edit icon"></i>
                        添加文章
                    </a>
                    <a class="ui down button">
                        <i class="photo icon"></i>
                        添加组图
                    </a>
                    <a class="ui down button">
                        <i class="video icon"></i>
                        添加视频
                    </a>
                    <a href="/pdf/add" class="ui down button">
                        <i class="text file icon"></i>
                        添加PDF
                    </a>
                </div>
            </div>

            <div class="search-article-box">
                <div class="ui form segment">
                    <div class="line">
                        <input type="text" class="start-time" placeholder="开始时间">
                        <input type="text" class="end-time" placeholder="结束时间">
                        <input type="text" placeholder="文章ID">

                        <input type="text" placeholder="作者">
                        <input type="text" placeholder="关键字">
                    </div>
                    <div class="line line-two">
                        <select class="select-column" multiple placeholder="选择栏目"></select>

                        <div class="ui selection dropdown">
                            <input type="hidden" name="article-type">

                            <div class="default text">类型</div>
                            <i class="dropdown icon"></i>

                            <div class="menu">
                                <div class="item" data-value="1">普通文章</div>
                                <div class="item" data-value="0">视频文章</div>
                            </div>
                        </div>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="article-type">

                            <div class="default text">状态</div>
                            <i class="dropdown icon"></i>

                            <div class="menu">
                                <div class="item" data-value="1">编辑中</div>
                                <div class="item" data-value="0">已发布</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui blue small submit button search-btn">搜索</div>
                </div>
            </div>

            <div class="article-list-box ui form loading" ms-class="loading:loading" ms-controller="articleList">
                <table class="ui table segment each-article" ms-repeat="articles">
                    <tbody>
                    <tr>
                        <td>
                            <div class="ui checkbox">
                                <input type="checkbox">
                                <label>{{el.id}}</label>
                            </div>
                        </td>
                        <td>
                            <p class="article-title">{{el.article.title}}</p>

                            <p><img class="rounded ui image" ms-src="el.article.thumb"/></p>

                            <p>
                                <i class="star icon"></i>
                                <i class="dollar icon"></i>
                            </p>
                        </td>
                        <td>
                            <p>{{el.article.column}}</p>
                        </td>
                        <td>
                            <a target="_blank" ms-href="getPreviewH(el.id)" class="ui mini blue button">
                                横版预览
                            </a>
                            <a target="_blank" ms-href="getPreviewV(el.id)" class="ui mini blue button">
                                竖版预览
                            </a>
                            <a target="_blank" ms-href="getPreviewI(el.id)" class="ui mini blue button">
                                iphone预览
                            </a>
                        </td>
                        <td>
                            <div ms-click="typeset('typeset_1',el.id)" class="ui mini blue button">
                                横版排版
                            </div>
                            <div ms-click="typeset('typeset_2',el.id)" class="ui mini blue button">
                                动态排版
                            </div>
                            <div ms-click="typeset('typeset_3',el.id)" class="ui mini blue button">
                                竖版排版
                            </div>
                        </td>
                        <td>
                            <a target="_blank" ms-href="changeArticle(el.id)" class="ui mini blue button">
                                修改内容
                            </a>
                            <a target="_blank" ms-href="setArticle(el.id)" class="ui mini blue button">
                                文章设置
                            </a>

                            <div ms-click="publishArticle(el.id)" class="ui mini blue button">
                                发布文章
                            </div>
                            <div ms-click="forbidArticle(el.id)" class="ui mini blue button">
                                禁用文章
                            </div>
                        </td>
                        <td>
                            <p>{{getArticleType(el.article.atype)}}</p>

                            <p>{{getArticleStatus(el.article.status)}}</p>
                        </td>
                        <td>
                            <p>创建人：{{el.article.username}}</p>

                            <p>创建时间：</p>

                            <p>{{ el.article.inputtime.$date | date("yyyy-MM-dd HH:mm") }}</p>

                            <div class="ui divider"></div>
                            <p>更新人：{{el.article.updateuser}}</p>

                            <p>更建时间：</p>

                            <p>{{ el.article.updatetime.$date | date("yyyy-MM-dd HH:mm") }}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="article-list-bottom">
                <div class="two fields fn-clear">
                    <div class="field tool-box left">
                        <div class="ui small blue button add-column-btn">
                            批量添加栏目
                        </div>
                        <div class="ui small blue button copy-article-btn">
                            复制
                        </div>
                    </div>
                    <div class="field right">
                        <div class="app-list-page">

                        </div>
                        <div class="ui form go-page-box">
                            <input type="text" placeholder="页码" class="current-page">
                            <a class="ui small blue button">
                                跳转
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>

<!--添加栏目开始-->
<div class="ui modal small add-column-dialog">
    <i class="close icon"></i>

    <div class="header">
        批量添加栏目
    </div>
    <div class="content">
        <select class="add-column" multiple placeholder="选择栏目"></select>
    </div>
    <div class="actions">
        <div class="ui black button">
            取消
        </div>
        <div class="ui positive right labeled icon button">
            确认
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<!--添加栏目结束-->

<!--复制文章开始-->
<div class="ui modal medium copy-article-dialog">
    <i class="close icon"></i>

    <div class="header">
        复制文章
    </div>
    <div class="content">
        <div class="ui selection dropdown select-app">
            <input type="hidden" name="article-type">

            <div class="default text">选择应用</div>
            <i class="dropdown icon"></i>

            <div class="menu">
                <div class="item" data-value="1">商业周刊</div>
                <div class="item" data-value="0">视频文章</div>
            </div>
        </div>
        <div class="ui selection dropdown select-issue">
            <input type="hidden" name="article-type">

            <div class="default text">选择期</div>
            <i class="dropdown icon"></i>

            <div class="menu">
                <div class="item" data-value="1">普通文章</div>
                <div class="item" data-value="0">视频文章</div>
            </div>
        </div>
        <select class="add-column" multiple placeholder="选择栏目"></select>
    </div>
    <div class="actions">
        <div class="ui black button">
            取消
        </div>
        <div class="ui positive right labeled icon button">
            确认
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<!--复制文章结束-->
<script type="text/javascript" src="<%= global.staticDomain %>/seajs/seajs/2.2.1/sea.js"></script>
<script type="text/javascript" src="<%= global.staticDomain %>/js/cms/app-list.js"></script>
</body>
</html>