<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <title></title>
    <% for (var i = 0;i < global.slateUI.length; i++){ %>
    <link type="text/css" rel="stylesheet" href="<%= global.staticDomain %> <%= global.slateUI[i] %>">
    <% } %>
</head>
<body>
<header class="slate-cms header">
    <div class="wrapper">
        <h1 class="small-logo"></h1>
        <ul class="user-links">
            <li>
                <a class="name">
                    你好
                    <span class="username">feeloc</span>
                </a>
            </li>

            <li>
                <a data-title="设置" class="account-settings">
                    <i class="settings icon"></i>
                </a>
            </li>
            <li>
                <a data-title="退出" class="sign-out">
                    <i class="sign out icon"></i>
                </a>
            </li>

        </ul>
    </div>
</header>
<div class="slate-cms wrapper">

</div>
<script type="text/javascript" src="<%= global.staticDomain %>/seajs/seajs/2.2.1/sea.js"></script>
<script type="text/javascript" src="<%= global.staticDomain %>/js/cms/app-list.js"></script>
</body>
</html>