<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <title></title>
    <% for (var i = 0;i < global.slateUI.length; i++){ %>
    <link type="text/css" rel="stylesheet" href="<%= global.staticDomain %> <%= global.slateUI[i] %>">
    <% } %>
</head>
<body>
<% include header.ejs %>
<div class="slate-cms wrapper">

<% include submenu.ejs %>

<div class="list-box">
<div class="list-left">
    <div class="ui blue vertical menu">
        <div class="header item">
            <i class="user icon"></i>
            我的杂志列表
        </div>
        <div class="item">
            <a href="javascript:;" class="app-name">商业周刊简体版</a>

            <div class="menu">
                <a class="active item">全部文章列表</a>
                <a class="item">全球经济</a>
                <a class="item">特写</a>
                <a class="item">公司产业</a>
                <a class="item">回收站</a>
            </div>
        </div>
        <div class="item">
            <a href="javascript:;" class="app-name">商业周刊繁体版</a>

            <div class="menu">
                <a class="item">全部文章列表</a>
                <a class="item">全球经济</a>
                <a class="item">特写</a>
                <a class="item">公司产业</a>
                <a class="item">回收站</a>
            </div>
        </div>
        <div class="item">
            <a href="javascript:;" class="app-name">汽车号外</a>

            <div class="menu">
                <a class="item">全部文章列表</a>
                <a class="item">全球经济</a>
                <a class="item">特写</a>
                <a class="item">公司产业</a>
                <a class="item">回收站</a>
            </div>
        </div>
        <div class="item">
            <a href="javascript:;" class="app-name">iWeekly</a>

            <div class="menu">
                <a class="item">全部文章列表</a>
                <a class="item">全球经济</a>
                <a class="item">特写</a>
                <a class="item">公司产业</a>
                <a class="item">回收站</a>
            </div>
        </div>
        <div class="item">
            <a href="javascript:;" class="app-name">艺术新闻</a>

            <div class="menu">
                <a class="item">全部文章列表</a>
                <a class="item">全球经济</a>
                <a class="item">特写</a>
                <a class="item">公司产业</a>
                <a class="item">回收站</a>
            </div>
        </div>
        <div class="item">
            <a href="javascript:;" class="app-name">Lohas</a>

            <div class="menu">
                <a class="item">全部文章列表</a>
                <a class="item">全球经济</a>
                <a class="item">特写</a>
                <a class="item">公司产业</a>
                <a class="item">回收站</a>
            </div>
        </div>
        <div class="item">
            <a href="javascript:;" class="app-name">精品购物</a>

            <div class="menu">
                <a class="item">全部文章列表</a>
                <a class="item">全球经济</a>
                <a class="item">特写</a>
                <a class="item">公司产业</a>
                <a class="item">回收站</a>
            </div>
        </div>
    </div>
</div>
<div class="list-right">
    <div class="add-btns-box">
        <div class="ui tiny blue buttons">
            <a href="/article/add" class="ui down button">
                <i class="edit icon"></i>
                添加文章
            </a>

            <div class="ui down button">
                <i class="photo icon"></i>
                添加组图
            </div>
            <div class="ui down button">
                <i class="video icon"></i>
                添加视频
            </div>
            <div class="ui down button">
                <i class="text file icon"></i>
                添加PDF
            </div>
        </div>
    </div>

    <div class="search-article-box">
        <div class="ui form segment">
            <div class="line">
                <input type="text" placeholder="开始时间">
                <input type="text" placeholder="结束时间">
                <input type="text" placeholder="文章ID">

                <input type="text" placeholder="作者">
                <input type="text" placeholder="关键字">
            </div>
            <div class="line line-two">
                <select class="select-column" multiple placeholder="选择栏目"></select>

                <div class="ui selection dropdown">
                    <input type="hidden" name="article-type">

                    <div class="default text">类型</div>
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        <div class="item" data-value="1">普通文章</div>
                        <div class="item" data-value="0">视频文章</div>
                    </div>
                </div>
                <div class="ui selection dropdown">
                    <input type="hidden" name="article-type">

                    <div class="default text">状态</div>
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        <div class="item" data-value="1">编辑中</div>
                        <div class="item" data-value="0">已发布</div>
                    </div>
                </div>
            </div>
            <div class="ui blue small submit button search-btn">搜索</div>
        </div>
    </div>

    <div class="article-list-box">
        <% for (var i = 0;i < 5;i++){ %>
        <table class="ui table segment each-article">
            <tbody>
            <tr>
                <td>
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>11574</label>
                    </div>
                </td>
                <td>
                    <p class="article-title">希腊将出售奥运场馆</p>

                    <p><img class="rounded ui image" src="http://placehold.it/100x100"/></p>

                    <p>
                        <i class="star icon"></i>
                        <i class="dollar icon"></i>
                    </p>
                </td>
                <td>
                    <p>特写ETC栏目特写</p>
                </td>
                <td>
                    <div class="ui mini blue button">
                        横版预览
                    </div>
                    <div class="ui mini blue button">
                        竖版预览
                    </div>
                    <div class="ui mini blue button">
                        iphone预览
                    </div>
                </td>
                <td>
                    <div class="ui mini blue button">
                        横版排版
                    </div>
                    <div class="ui mini blue button">
                        动态排版
                    </div>
                    <div class="ui mini blue button">
                        竖版排版
                    </div>
                </td>
                <td>
                    <div class="ui mini blue button">
                        修改内容
                    </div>
                    <div class="ui mini blue button">
                        文章设置
                    </div>
                    <div class="ui mini blue button">
                        发布文章
                    </div>
                    <div class="ui mini blue button">
                        禁用文章
                    </div>
                </td>
                <td>
                    <p>普通文章</p>

                    <p>已发布</p>
                </td>
                <td>
                    <p>创建人：feeloc</p>

                    <p>创建时间：</p>

                    <p>2013.05.3 22:00</p>
                    <div class="ui divider"></div>
                    <p>更新人：feeloc</p>

                    <p>更建时间：</p>

                    <p>2013.05.3 22:00</p>
                </td>
            </tr>
            </tbody>
        </table>
        <% } %>
    </div>
    <div class="article-list-bottom">
        <div class="two fields fn-clear">
            <div class="field tool-box left">
                <div class="ui small blue button add-column-btn">
                    批量添加栏目
                </div>
                <div class="ui small blue button copy-article-btn">
                    复制
                </div>
            </div>
            <div class="field right">
                <div class="app-list-page">

                </div>
                <div class="ui form go-page-box">
                    <input type="text" placeholder="页码" class="current-page">
                    <a class="ui small blue button">
                        跳转
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<% include footer.ejs %>

<!--添加栏目开始-->
<div class="ui modal small add-column-dialog">
    <i class="close icon"></i>

    <div class="header">
        批量添加栏目
    </div>
    <div class="content">
        <select class="add-column" multiple placeholder="选择栏目"></select>
    </div>
    <div class="actions">
        <div class="ui black button">
            取消
        </div>
        <div class="ui positive right labeled icon button">
            确认
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<!--添加栏目结束-->

<!--复制文章开始-->
<div class="ui modal medium copy-article-dialog">
    <i class="close icon"></i>

    <div class="header">
        复制文章
    </div>
    <div class="content">
        <div class="ui selection dropdown select-app">
            <input type="hidden" name="article-type">

            <div class="default text">选择应用</div>
            <i class="dropdown icon"></i>

            <div class="menu">
                <div class="item" data-value="1">商业周刊</div>
                <div class="item" data-value="0">视频文章</div>
            </div>
        </div>
        <div class="ui selection dropdown select-issue">
            <input type="hidden" name="article-type">

            <div class="default text">选择期</div>
            <i class="dropdown icon"></i>

            <div class="menu">
                <div class="item" data-value="1">普通文章</div>
                <div class="item" data-value="0">视频文章</div>
            </div>
        </div>
        <select class="add-column" multiple placeholder="选择栏目"></select>
    </div>
    <div class="actions">
        <div class="ui black button">
            取消
        </div>
        <div class="ui positive right labeled icon button">
            确认
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<!--复制文章结束-->
<script type="text/javascript" src="<%= global.staticDomain %>/seajs/seajs/2.2.1/sea.js"></script>
<script type="text/javascript" src="<%= global.staticDomain %>/js/cms/app-list.js"></script>
</body>
</html>