<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <title>添加文章</title>
    <% for (var i = 0;i < global.slateUI.length; i++){ %>
    <link type="text/css" rel="stylesheet" href="<%= global.staticDomain %> <%= global.slateUI[i] %>">
    <% } %>
</head>
<body>
<% include header.ejs %>
<div class="slate-cms wrapper">
    <% include submenu.ejs %>
    <div class="now-place-box">
        <div class="ui breadcrumb">
            <label>当前位置：</label>
            <a class="section">文章管理</a>

            <div class="divider"> /</div>
            <div class="section">内容发布器管理</div>
            <div class="divider"> /</div>
            <div class="active section">添加内容</div>
        </div>
    </div>

    <div class="ui form segment add-article-form loading" ms-class="loading:article.loading" ms-controller="article">
        <div class="header" ms-if="!article.title">
            {{article.action}}
        </div>

        <div class="form-split-title">基本信息</div>
        <div class="two fields">
            <div class="field">
                <label>标题</label>

                <div class="ui labeled icon input">
                    <input type="text" name="title" class="title" ms-duplex="article.title">

                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                    <div class="ui red pointing above ui label check-res">该标题已存在</div>
                </div>
            </div>
            <div class="field">
                <label>短标题</label>

                <div class="ui labeled icon input">
                    <input type="text" name="subtitle" class="subtitle" ms-duplex="article.subtitle">

                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>作者</label>

                <div class="ui labeled icon input">
                    <input type="text" name="author" class="author" ms-duplex="article.author">
                </div>
            </div>
            <div class="field">
                <label>英文名</label>

                <div class="ui labeled icon input">
                    <input type="text" name="author-ename" class="author-ename" ms-duplex="article.author_ename">
                </div>
            </div>
        </div>

        <div class="field">
            <label>头衔</label>

            <div class="ui labeled icon input">
                <input type="text" name="author-title" class="author-title" ms-duplex="article.author_title">
            </div>
        </div>

        <div class="form-split-title">文章内容</div>
        <div class="field">
            <label>提纲</label>

            <textarea ms-duplex="article.subcontent"></textarea>
        </div>
        <div class="field">
            <label>摘要</label>

            <textarea ms-duplex="article.desc"></textarea>
        </div>
        <div class="field">
            <label>长摘要</label>

            <textarea ms-duplex="article.long_desc"></textarea>
        </div>

        <div class="field content">
            <label>内容</label>

            <textarea ms-duplex="article.content"></textarea>
        </div>

        <div class="form-split-title">文章配图，音视频</div>
        <div class="field content">
            <label>横板配图</label>

            <div class="ui teal small right labeled icon button upload-btn-h">
                上传图片
                <i class="photo icon"></i>
            </div>
            <div class="ui raised segment images-preview-h">
                <p class="tips" ms-if="!article.pictureurls || article.pictureurls.length == 0">无图片</p>

                <div class="ui left floated medium image" data-path="2014/0513/5371b9f7dcb23.jpg"
                     ms-repeat="article.pictureurls">
                    <div class="field">
                        <img ms-src="el.preview">
                    </div>
                    <div class="ui label">
                        <span ms-title="el.alt">{{el.alt}}</span>
                        <i class="delete icon" ms-click="article.removePic($index)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="field content">
            <label>竖版配图</label>

            <div class="ui teal small right labeled icon button upload-btn-v">
                上传图片
                <i class="photo icon"></i>
            </div>
            <div class="ui raised segment images-preview-v">
                <p class="tips" ms-if="!article.vpictureurls || article.vpictureurls.length == 0">无图片</p>

                <div class="ui left floated medium image" data-path="2014/0513/5371b9f7dcb23.jpg"
                     ms-repeat="article.vpictureurls">
                    <div class="field">
                        <img ms-src="el.preview">
                    </div>
                    <div class="ui label">
                        <span ms-title="el.alt">{{el.alt}}</span>
                        <i class="delete icon" ms-click="article.removePicV($index)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="field content">
            <label>音视频</label>

            <div class="ui teal small right labeled icon button">
                上传音频，视频
                <i class="video icon"></i>
            </div>
        </div>

        <div class="ui divider"></div>
        <div class="field submit-box">
            <div class="ui blue submit right labeled icon button submit-article">
                提交并关闭
                <i class="checkmark icon"></i>
            </div>
            <div class="ui hover right labeled icon button submit-article">
                暂时保存
                <i class="checkmark icon"></i>
            </div>
            <div class="ui red right labeled icon button fn-right">
                取消
                <i class="sign out icon"></i>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>

<script type="text/javascript" src="<%= global.staticDomain %>/seajs/seajs/2.2.1/sea.js"></script>
<script type="text/javascript" src="<%= global.staticDomain %>/js/cms/edit-article.js"></script>
</body>
</html>