<header class="slate-cms header">
    <div class="wrapper">
        <h1 class="small-logo"></h1>
        <ul class="user-links">
            <li>
                <a class="name">
                    你好
                    <span class="username">admin</span>
                </a>
            </li>

            <li>
                <a data-title="设置" class="account-settings">
                    <i class="settings icon"></i>
                </a>
            </li>
            <li>
                <a href="/logout" data-title="退出" class="sign-out">
                    <i class="sign out icon"></i>
                </a>
            </li>

        </ul>
    </div>
</header>