<div class="five fluid ui buttons tool-box">
    <a class="ui button">文章管理</a>
    <a class="ui button">杂志管理</a>
    <a class="ui button">栏目管理</a>
    <a class="ui button">工具箱</a>
    <a class="ui button">后台管理</a>
</div>