/* slate.cms-base style module */
body{
  margin: 0;
  padding: 0;
}

.header .wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

.slate-cms.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.slate-cms.header{
  height: 40px;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: linear-gradient(#f9f9f9, #f3f3f3);
  background-repeat: repeat-x;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #e5e5e5;
}

.header .small-logo{
  float: left;
  width: 160px;
  height: 40px;
  background: url("images/logo.png") no-repeat;
  background-size: 160px 40px;
  margin: 0;
  padding: 0;
}

.header .user-status{
  float: right;
  margin-top: 5px;
}