/* slate.cms-base style module */
@color: #009FDA;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #FCFCFC url("images/bg.jpg") repeat;
  color: #555555;
}

.header .wrapper,.slate-cms.wrapper {
  width: 98%;
  max-width: 1200px;
  min-width: 1150px;
  margin: 0 auto;
}

/**头部**/
.slate-cms.header {
  @background: #f9f9f9, #f3f3f3;
  height: 40px;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(@background);
  background-image: -webkit-linear-gradient(@background);
  background-image: linear-gradient(@background);
  background-repeat: repeat-x;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #e5e5e5;

  .small-logo {
    float: left;
    width: 170px;
    height: 40px;
    background: url("images/logo.png") center no-repeat;
    background-size: 170px 30px;
    margin: 0;
    padding: 0;
  }

  .user-links {
    float: right;
    font-weight: bold;
    line-height: 45px;
    white-space: nowrap;
    font-size: 14px;
    color: #333333;
    transition: color 0.1s ease-in;
    -webkit-transition: color 0.1s ease-in 0;

    li {
      float: left;
      margin-left: 10px;
      list-style: none;
    }

    a {
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      color: #333;
    }

    .username{
      margin-right: 3px;
    }

    .account-settings,.sign-out {
      font-size: 18px;
      line-height: 20px;
    }

    .account-settings:hover,.sign-out:hover {
      color: @color;
    }
  }
}
