.list-box {
  @leftWidth: 20%;
  @marginValue: 20px;

  position: relative;
  margin-top: @marginValue;
  padding-left: (@leftWidth + 2%);

  .list-left {
    position: absolute;
    left: 0;
    top: 0;
    width: @leftWidth;

    .item a {
      display: block;
      text-decoration: none;
    }

    .item .menu {
      display: none;
    }

    .ui.vertical.menu {
      width: 100%;
    }
  }

  .list-right {
    .article-list-box {
      margin-top: @marginValue;
      min-height: 500px;

      .ui.table td{
        padding: 0.40em 0.3em;
      }

      .button {
        display: block;
        width: 100px;
        margin: 5px 0;
      }

      p {
        font-size: 14px;
        line-height: 25px;
      }

      .each-article {
        margin-bottom: 10px;
      }

      .each-article .article-title {
        height: 25px;
        overflow: hidden;
      }

      table tr td:nth-child(1) {
        width: 5%;
      }

      table tr td:nth-child(2) {
        width: 10%;
      }

      table tr td:nth-child(3) {
        width: 10%;
      }

      table tr td:nth-child(4) {
        width: 10%;
      }

      table tr td:nth-child(5) {
        width: 10%;
      }

      table tr td:nth-child(6) {
        width: 10%;
      }

      table tr td:nth-child(7) {
        width: 10%;
      }

      table tr td:nth-child(8) {
        width: 20%;
      }

      .ui.divider {
        margin: 0.3rem 0;
      }
    }

    .article-list-bottom {
      margin: @marginValue 0 0;
      padding: 0 0 @marginValue;

      .tool-box, .go-page-box {
        margin: 0em;
        display: inline-block;
        vertical-align: middle;
      }

      .left {
        float: left;
      }

      .right {
        float: right;
      }

      .go-page-box input {
        width: 90px;
        padding: 0.55em 1em;
      }
    }

    .search-article-box {
      position: relative;
      margin-top: @marginValue;

      input {
        width: 160px;
      }

      .ui.selection.dropdown {
        width: 145px;
        padding: 0.55em 1em;

        .text {
          width: 110px;
        }
      }

      .line-two {
        margin-top: 10px;

        .select-column {
          float: left;
          display: none;
          width: 50%;
          margin-right: 5px;
        }
      }

      .search-btn {
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 40px 25px;
      }
    }
  }
}

.add-column-dialog {

  .content {
    height: 300px;

    .add-column {
      width: 100%;
    }
  }
}

.copy-article-dialog {

  .content {
    height: 400px;

    .selection.dropdown {
      width: 96%;
      margin-bottom: 20px;

      .text {
        width: 95%;
      }
    }

    .add-column {
      width: 100%;
    }
  }
}

[ms-controller], [ms-important], .ms-controller, .ms-important {
  display: none;
}